<div class="breadcrumb-pok">
    <img class="br-shape-left" src="assets/img/breadcrumb/left-bg.png" alt="">
    <img class="br-shape-right" src="assets/img/breadcrumb/right-bg.png" alt="">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-6">
                <div class="breadcrumb-content">
                    <span class="subtitle">contact us</span>
                    <h2 class="title">Reclamer</h2>
                    <div class="page-links">
                        <ul>
                            <li>
                                <a href='index.html'>Home</a>
                            </li>
                            <li>
                                <span class="current-page">Contact Us</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contact-us">
    <img src="assets/img/bg-shape/wp-shape-2.png" alt="" class="wp-bg-shape-2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-8">
                <div class="part-contact poklotto-form">
                    <h3 class="title">Reclamer</h3>
                    <div class="part-form">
                        <form #data="ngForm"  (ngSubmit)="persistreclamation(data.value)">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <label for="first_name" class="form-label">First name</label>
                                    <input type="text" id="first_name" placeholder="Ex: rania" ngModel class="form-control" name="name">
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <label for="Date" class="form-label">dateSoumission</label>
                                    <input type="text"id="Date" placeholder="Ex: 24/05/2024" ngModel class="form-control" name="dateSoumission">
                                </div>
                               
                                
                                <div class="col-xl-12 col-lg-12">
                                    <label for="descriptionReclamation" class="form-label">descriptionReclamation</label>
<!--                                     <textarea id="write_message" placeholder="Ex: Hello, admin...."></textarea>4
 -->
                                 <input type="text" id="descriptionReclamation" placeholder="Ex: 24/05/2024" ngModel class="form-control" name="descriptionReclamation">

                                </div>
                            </div>
                            <button class="btn-pok" type="submit">
                                Reclamer <i class="fa-solid fa-angle-right"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-9 col-sm-9 d-xl-flex d-lg-flex d-block align-items-end">
                <div class="part-img">
                    <img src="Front/assets/img/contact/contact-img.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="part-address">
        <div class="container">
            <div class="address-elements">
                <div class="single-element">
                    <h4 class="title">Phone</h4>
                    <ul>
                        <li>+96 847-930-0570</li>
                        <li>+96 603-221-6491</li>
                    </ul>
                </div>
                <div class="single-element">
                    <h4 class="title">email</h4>
                    <ul>
                        <li>rania.heni@outlook.com</li>
                     </ul>
                </div>
                <div class="single-element">
                    <h4 class="title">Head office</h4>
                    <ul>
                        <li>1051 tunis ariana</li>
                     </ul>
                </div>
                <div class="single-element">
                    <h4 class="title">departement reclamation</h4>
                    <ul>
                        <li>ariana esprit</li>
                     
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>