<form #data="ngForm"  (ngSubmit)="persistreclamation(data.value)">

    Name : <input type="text" ngModel class="form-control" name="name" />
    dateSoumission : <input type="datetime" ngModel class="form-control" name="dateSoumission" />
    descriptionReclamation : <input type="text" ngModel class="form-control" name="descriptionReclamation" />
  
  
   <button type="submit" class="btn btn-primary" value="Ajouter" style="margin-top:5px">Ajouter<i style="margin-left:5px" class="fa fa-plus" aria-hidden="true"></i>
   </button>
  </form>
